html {
    font-family: Helvetica, sans-serif;
    padding: 30px;
}


li {
    display: inline-block;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: green;
}

header {
    border-bottom: 2px solid black;
}

nav,
h1,
li {
    display: inline-block;

}

main h1 {
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}