body{
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
}

section{
    margin-left: 20px;
}

section p{
    text-size-adjust: 24px;
}

header p{
    font-style: italic;
}

h2{
    text-size-adjust: 28px;
}