body{
    display:flex;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

li{
    display: flex;
    padding:1em;
    border:4px solid black; 
   flex-basis: 20em;
    align-items: center;

}

.gallery ul{
    display:flex;
    flex-wrap: wrap;
    gap:1em;
    justify-content: space-between;
}

