html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
}

#container {
    max-width: 70vw;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
}

article {
    flex-basis: 15rem;
}