html {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

body {
    background-color: rgb(238, 238, 238);
}

main {
    margin-top: 50px;
}

article {

    float: left;
    width: 60%;
    margin: 15px 0 15px 15px;
}

img {
    width: 500px;
    height: 300px;
}

aside {
    width: 35%;
    display: inline-block;
    margin: 15px 15px 15px 0;
}